.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 10px;

  /* border: 2px solid magenta; */
  margin: 0 auto;

  max-width: 1380px;
}

/* !Body Styling */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

img {
  padding: 10px;
  margin: 10px;

  grid-column-start: 3;
  grid-column-end: 11;
  width: 100%;
  max-width: 2160px;
}

/* ! Navbar Styling */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 19, 19);
  height: 9rem;
  width: 90%;
  padding: 0 6rem;
  margin-right: 5rem;
  z-index: 100;
}

/** nav and sticky class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgb(19, 19, 19);
  opacity: 60%;
}

.nav__logo {
  display: block;
  max-height: auto;
  max-width: 100%;
  margin: 0px 0px;
}

.nav__logo {
  cursor: pointer;
}

.nav__logo {
  margin-left: -40px;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.2rem;
  font-weight: 400;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

/* !Header Styling */
.header {
  grid-column-start: 1;
  grid-column-end: 13;

  margin-top: 100px;
  width: 50%;
  padding: 10px;
}

/* !Section Styling */
#section1 {
  grid-column-start: 2;
  grid-column-end: 12;
  scroll-margin-top: 150px;
}

#section2 {
  grid-column-start: 2;
  grid-column-end: 12;
  scroll-margin-top: 150px;
}

#section3 {
  grid-column-start: 2;
  grid-column-end: 12;
  scroll-margin-top: 150px;
}
#section4 {
  grid-column-start: 2;
  grid-column-end: 12;
  scroll-margin-top: 150px;
}
#section5 {
  grid-column-start: 2;
  grid-column-end: 12;
  scroll-margin-top: 150px;
}
